{% extends 'base.html' %}

{% block extra_head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>

{% endblock %}

{% block content %}
The Columbia University Prediction Market is a prediction market on blockchain run for research and teaching purposes. Traders can buy and sell CU tokens based on their belief about the outcome of an event. 
{% endblock %}